<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div formArrayName="persons">
          <div *ngFor="let p of persons.controls; let i = index" class="mb-3">
            <div [formGroupName]="i">
              <div class="form-group row">
                <label class="col-form-label col-md-2">Title</label>
                <div class="col-md-10">
                  <select
                    class="form-control"
                    [ngClass]="{'is-invalid': isInvalidInput(p, 'title')}"
                    formControlName="title"
                  >
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                  </select>
                  <div *ngIf="isInvalidInput(p, 'title')" class="invalid-feedback">
                    <div *ngIf="p.get('title')?.errors?.required">Title is required.</div>
                  </div> 
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-2">Name</label>
                <div class="col-md-10">
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{'is-invalid': isInvalidInput(p, 'name')}"
                    formControlName="name"
                    (keypress)="keyPressAlphaNumeric($event)"
                  />
                  <div *ngIf="isInvalidInput(p, 'name')" class="invalid-feedback">
                    <div *ngIf="p.get('name')?.errors?.required">Name is required.</div>
                  </div> 
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-2">Birth Date</label>
                <div class="col-md-10">
                  <div class="input-group">
                    <input
                      class="form-control"
                      [ngClass]="{'is-invalid': isInvalidInput(p, 'birth')}"
                      formControlName="birth"
                      ngbDatepicker
                      #d="ngbDatepicker"
                      placeholder="yyyy-mm-dd"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                    <div *ngIf="isInvalidInput(p, 'birth')" class="invalid-feedback">
                      <div *ngIf="p.get('birth')?.errors?.required">Birth Date is required.</div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-danger btn-sm" (click)="removePerson(i)">
                Remove
              </button>
            </div>
          </div>
        </div>
    
        <div class="d-flex align-items-center justify-content-between">
          <button type="submit" class="btn btn-success" [ngClass]="{'invisible': persons.controls.length === 0}"  [disabled]="editForm.invalid">
            Submit
          </button>
          <button type="button" class="btn btn-primary mr-3" (click)="addPerson()">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="submitted" class="mt-3">
    <pre>{{ this.editForm.value.persons | json }}</pre>
  </div>
</div>